:root {
    --bleu: #2964a6;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    max-height: 50px;

    background-color: var(--bleu);

    display: flex;
    justify-content: space-between;
}

#login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo-box {
    display: flex;
    align-items: center;

    border: 2px solid var(--bleu);
    background-color: white;

    & > #logo-chu {
        margin-left: 10px;
        height: 46px;
    }

    & > #logo-mines {
        height:60px
    }

    & > #separateur {
        width: 1px;
        height: 35px;
        margin-left: 15px;

        background-color: var(--bleu);
    }
}

header a {
    align-self: center;
}

button {
    padding: 5px 10px;
    border-radius: 15px;

    cursor: pointer;
    transition: .3s;
}

header button {
    margin: 0 10px 0 0;

    box-sizing: border-box;
    max-width: 20vw;

    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-weight: bold;

    &:hover {
        background-color: white;
        color: var(--bleu);
    }
}

#logo-arriere-plan {
    position: absolute;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);

    filter: opacity(15%);
}

#logo_chu_accueil {
    width: 30%;
    object-position: left;
    object-fit: contain;
    display: inline-block;
}

#logo_mines_accueil {
    width: 50%;
    object-position: right;
    object-fit: contain;
    display: inline-block;
}


.mainmenubtn {
    background-color: skyblue;
    color: white;
    border: thick double #32a1ce;;
    cursor: pointer;
    padding: 0.4em 2.6em;
    margin-top:20px;
    font-size: 20px;
}
.mainmenubtn:hover {
    background-color: var(--bleu);
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: rgb(137, 137, 137);
    min-width: 200px;
}
.dropdown-child a {
    color: var(--bleu);
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-child a:nth-child(even) {
    background-color: #e5e5e5; /* Couleur de fond pour les lignes paires */
}

.dropdown-child a:nth-child(odd) {
    background-color: #999999; /* Couleur de fond pour les lignes impaires */
}
.dropdown:hover .dropdown-child {
    display: block;
}

#btn-debut-appel {
    padding: 30px 35px;
    
    border: 2px solid var(--bleu);
    color: var(--bleu);
    background-color: transparent;

    font-size: 20px;
    font-weight: bold;

    &:hover {
        background-color: var(--bleu);
        color: white;
    }
}

#interface-centrale {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}

@keyframes spe-slide {
    0% {left: 50% ;}
    50% {left: 0%;}
    100% {top: 0%;}

}

#anim-specialite {
    animation-name: spe-slide;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}