{% extends "index.html" %}

{% block body %}
<div id="spe-box">
    <h1 id="spe-title">Spécialités</h1>
    <div id="spe-dropdown">
        <a href="http://wwww.yourdomain.com/page1.html">Spécialité 1</a>
        <a href="http://wwww.yourdomain.com/page2.html">Spécialité 2</a>
        <a href="http://wwww.yourdomain.com/page3.html">Spécialité 3</a>
        <a href="http://wwww.yourdomain.com/page4.html">Spécialité 4</a>
        <a href="http://wwww.yourdomain.com/page5.html">Spécialité 5</a>
    </div>
</div>
{% endblock %}
