<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/logo_chu.png") }}" type="image/x-icon">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <div id="logo-box">
            <img id="logo-chu" src="{{ url_for('static', filename='img/logo_chu.png') }}" alt="Logo du CHU de Nantes"/>
            <div id="separateur"></div>
            <img id="logo-mines" src="{{ url_for('static', filename='img/logo_mines_paris_psl.png') }}" alt="Logo de Mines Paris" />
        </div>

        {% block button %}
        {% endblock %}
    </header>

    <div id="logo-arriere-plan">
            <img src="{{ url_for('static', filename='img/logo_chu.png') }}" alt="Logo du CHU de Nantes" id="logo_chu_accueil"  />
            <img src="{{ url_for('static', filename='img/logo_mines_paris_psl.png') }}" alt="Logo de Mines Paris" id="logo_mines_accueil" />
    </div>

    <div id="interface-centrale">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>